@charset "utf-8";
/* CSS Document */

/*Company*/
.top{ height:296px; background-color:#666; background-image:url(../img/Company01.jpg); background-position:center}
.top .position h1{ font-size:48px; color:#FFF; font-family:"微软雅黑"; font-weight:normal; text-align:center; padding-top:82px}
.top .position h3{ font-size:20px; color:#FFF; font-family:"微软雅黑"; font-weight:normal; text-align:center; margin-top:12px}
.top .position P{ font-size:14PX; color:#fff; text-align:center; margin-top:76px}
.top .position P a{color:#fff}
.top .position P a:hover{ border-bottom:1px solid #fff}
.top .position P span{ border-bottom:1px solid #fff}



/*联系方式*/
.middle .contact_us .title{ margin-top:68px;}
.middle .contact_us .content{ position:relative}
.middle .contact_us .content .reserve{width:898px; height:421px; margin:0 auto;margin-top:70px;background-image:url(../img/bj3.png); background-repeat:no-repeat;  padding-top: 29px; position:absolute; top:-40px; left:160px}
.middle .contact_us .content .reserve form{ width:851px; height:374px; background-image:url(../img/bj4.png); margin:0 auto; }
.middle .contact_us .content .reserve input{  font-size:14px; width:346px; height:44px; border: 1px solid #bb835f; border-radius:14px; margin-top:10px; text-indent:8px; outline:none}
.middle .contact_us .content .reserve .left{width:348px; float:left; margin-left:11px; margin-top:6px}
.middle .contact_us .content .reserve .right{ width:348px; float:right; margin-right:18px; margin-top:6px; margin-bottom:10px}
.middle .contact_us .content .reserve textarea{ width:825px; height:106px; border: 1px solid #bb835f; border-radius:14px; margin-left:11px; text-indent:8px; outline:none; resize: none; padding-top:8px;  font-size:14px }
.middle .contact_us .content .reserve .code input{ width:85px; height:35px; border: 1px solid #bb835f; border-radius:14px; margin:0; margin-top:5px; margin-left:11px; float:left}
.middle .contact_us .content .reserve .code .ident{ margin-top:5px; margin-left:5px; float:left; cursor:pointer}
.middle .contact_us .content .reserve .code .break{ margin-top:12px; margin-left:5px; float:left}
.middle .contact_us .content .reserve .button{clear:both; margin-top:76px}
.middle .contact_us .content .reserve .button input{ width:99px; height:35px; border: 1px solid #bb835f; border-radius:8px; display:block; margin:0 auto; clear: both; text-indent:0px; color:#bb835f; background-color:#fff; cursor: pointer
}

.middle .contact_us .content .img{ padding-top:256px; margin-bottom:74px}