@charset "utf-8";
/* CSS Document */

/*Company*/
.top{ height:296px; background-color:#666; background-image:url(../img/Company01.jpg); background-position:center}
.top .position h1{ font-size:48px; color:#FFF; font-family:"微软雅黑"; font-weight:normal; text-align:center; padding-top:82px}
.top .position h3{ font-size:20px; color:#FFF; font-family:"微软雅黑"; font-weight:normal; text-align:center; margin-top:12px}
.top .position P{ font-size:14PX; color:#fff; text-align:center; margin-top:76px}
.top .position P a{color:#fff}
.top .position P a:hover{ border-bottom:1px solid #fff}
.top .position P span{ border-bottom:1px solid #fff}

/*项目经验*/
.middle .news .sub_nav{ background-image:url(../img/underline.png); background-repeat:no-repeat; background-position:bottom; height:38px}
.middle .news .sub_nav ul{ overflow:hidden; width:588px; margin:0 auto; margin-top:25px; font-family:"微软雅黑";}
.middle .news .sub_nav li{  font-size:18px; float:left; width:74px; text-align:center; margin-right:71px; }
.middle .news .sub_nav li.on a{ color:#c39274;}
.middle .news .sub_nav li.on{border-bottom: 1px solid #c39274}
.middle .news .sub_nav li a{color:#333333; padding-bottom:13px; display:block}
.middle .news .sub_nav li:hover a{ color:#c39274}
.middle .news .sub_nav li:hover{ border-bottom: 1px solid #c39274}

/*内容*/
.middle .news_list li{ margin-top:35px}
.middle .news_list li img{  width:300px;}
.middle .news_list li .text{ width:862px; margin-left:30px; float:right;}
.middle .news_list li .text h4{ font-size:16px; margin-top:27px; margin-bottom:8px; font-family:"微软雅黑"; font-weight:normal}
.middle .news_list li .text h4 a{ color:#333333;}
.middle .news_list li .text h4 a:hover{ color:#c39274}
.middle .news_list li .text span{ font-size:16px;; color:#999999;}
.middle .news_list li .text p{ font-size:14px; color:#666; line-height:20px; margin-top:8px; margin-bottom:20px}

/*页码*/
.middle .page{ text-align:center; margin-top:80px; margin-bottom:80px}
.middle .page ul{ margin:20px 0; display:inline-block;}
.middle .page ul li{display:inline-block; margin-right:5px; border:1px solid #fff}
.middle .page ul li a{ font-size:14px; color:#999999; display:block;padding:5px;}
.middle .page ul li.on{ border:1px solid #e5e5e5; }
.middle .page ul li.on a{ color:#c39274}
.middle .page ul li:hover a{color:#c39274}
.middle .page ul li:hover{ border:1px solid #e5e5e5;}
.middle .page ul li.firstpage{border:1px solid #e5e5e5}
.middle .page ul li.prev{border:1px solid #e5e5e5}
.middle .page ul li.next{border:1px solid #e5e5e5}
.middle .page ul li.lastpage{border:1px solid #e5e5e5}
.middle .page  span{ font-size:14px; color:#999999;  padding:5px;border:1px solid #e5e5e5}
.middle .page input.text{ width:51px; height:27px;  border:1px solid #e5e5e5; outline:none; text-indent:5px}
.middle .page input.sub{border:1px solid #e5e5e5; background-color:#fff ; height:29px; width:38px; margin-left:5px; color:#999999;cursor: pointer; outline:none}
.middle .page ul .button:hover input{ color:#c39274}
.middle .page div{display:inline-block;}